.tasks__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table {
    font-family: lucida sans unicode,lucida grande,Sans-Serif;
    font-size: 18px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 20px;

}

th {
    font-weight: 400;
    border-bottom: 1px solid #fff;
    background-color: #3a262693;
    color: white;
    padding: 8px;
}

td {
    border-bottom: 1px solid #fff;
    color: white;
    border-top: 1px solid transparent;
    padding: 8px
}

tbody tr:hover td {
    color: #3a2626;
    background: #fff;
    transition: 0.3s linear;
}

