.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 7px;
}

.input__label {
    font-size: 15px;
    color: white;
}

.input__textInput {
    background-color: #ffffff1b;
    border-radius: 15px;
    width: 250px;
    height: 40px;
}